<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= form.hidden_field :admin_id, :value => current_admin.id.to_i  %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
    <%= image_tag(image, size:"250x200")%>
    <%= link_to 'Delete', post_image_path(@post, image),method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end %>
  <%end %>



  <div class='field'>
    <%= form.file_field :images, multiple: true%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, {:style => "background-color:#ffffff;"} %>
  </div>

  <div class="field">
    <label>
    <%= form.check_box :is_hw, {:type => "checkbox", :class =>"filled-in" } %>
    <span>HW</span>
    </label>
  </div>

  <div class="field">
    <label>
    <%= form.check_box :is_math, {:type => "checkbox", :class =>"filled-in" } %>
    <span>Math</span>
    </label>
  </div>

  <div class="field">
    <label>
    <%= form.check_box :is_science, {:type => "checkbox", :class =>"filled-in" } %>
    <span>Science</span>
    </label>
  </div>

  <div class="field">
    <label>
    <%= form.check_box :is_spanish, {:type => "checkbox", :class =>"filled-in" } %>
    <span>Spanish</span>
    </label>
  </div>

  <div class="field">
    <label>
    <%= form.check_box :is_event, {:type => "checkbox", :class =>"filled-in" } %>
    <span>Event</span>
    </label>
  </div>


  <div class="field">
    <%= form.check_box :is_class_project %>
    <label>
    <%= form.check_box :is_class_project, {:type => "checkbox", :class =>"filled-in" } %>
    <span>Class Project</span>
    </label>
  </div>

  <div class="field" >
    <label>
      <%= form.check_box :is_tutorial, {:type => "checkbox", :class =>"filled-in" } %>
      <span>Tutorial</span>
    </label>
  </div>

  <div class="field" >
    <label>
      <%= form.check_box :is_resource, {:type => "checkbox", :class =>"filled-in" } %>
      <span>Resource</span>
    </label>
  </div>

  <div class="field">
    <label>Date: </label>
    <%= form. date_field :date, {:type => "text", :class => "datepicker",:style => "background-color:#ffffff; width: 15%; height: 20px; border-radius:5px;"} %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
