<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= form.hidden_field :admin_id, :value => current_admin.id.to_i  %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <% if @post.images.attached? %>
  <% @post.images.each do |image| %>
  <%= image_tag(image, size:"250x200")%>
  <%= link_to 'Delete', post_image_path(@post, image),method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end %>
  <%end %>
  <div class='field'>
    <%= form.file_field :images, multiple: true%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.check_box :is_hw %>
    <%= form.label :is_hw %>
  </div>

  <div class="field">
    <%= form.check_box :is_math %>
    <%= form.label :is_math %>
  </div>

  <div class="field">
    <%= form.check_box :is_science %>
    <%= form.label :is_science %>
  </div>

  <div class="field">
    <%= form.check_box :is_spanish %>
    <%= form.label :is_spanish %>
  </div>

  <div class="field">
    <%= form.check_box :is_event %>
    <%= form.label :is_event %>
  </div>

  <div class="field" >
    <%= form.check_box :is_tutorial, type:"checkbox", checked:"checked" %>
    <%= form.label :is_tutorial %>
  </div>

  <div class="field">
    <%= form.check_box :is_class_project %>
    <%= form.label :is_class_project %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
