






<div class="row">
      <div class="col s12">

        <div id="homePosts">
          <h3>Recent Posts</h3>
            <table class="highlight responsive-table">
              <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Topic</th>
                    <th>Date</th>
                </tr>
              </thead>

              <tbody>
                <% Post.recent_post(4).each do |post| %>
                <tr>
                  <%= link_to post do %>
                    <td><%=post.title%></td>
                    <td><%=post.content[0,10]%>...</td>
                    <td><%= post.string_topic_lists(post.topic_lists) %></td>
                    <td><%=post.date%> <%=link_to '<i class=" medium material-icons">mode_edit</i>', post, class: "postlink"%></td>

                  <%end%>
                </tr>


                <%end%>
              </tbody>
            </table>
        </div>




      </div>
      <div class="col s6">

        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>



      </div>
      <div class="col s6">

        <div class="video-container ">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZHAqT4hXnMw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>



      </div>



</div>
