<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Is hw</th>
      <th>Is math</th>
      <th>Is science</th>
      <th>Is spanish</th>
      <th>Is event</th>
      <th>Is tutorial</th>
      <th>Is class project</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.is_hw %></td>
        <td><%= post.is_math %></td>
        <td><%= post.is_science %></td>
        <td><%= post.is_spanish %></td>
        <td><%= post.is_event %></td>
        <td><%= post.is_tutorial %></td>
        <td><%= post.is_class_project %></td>
        <td><%= post.date %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
