<!DOCTYPE html>
<html>
  <head>
    <title>ClassWebsiteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script  src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>



    <header>

      <nav id="siteNav">
        <div class="nav-wrapper">
          <p id="logo" class="brand-logo">HG3</p>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="navLinks" href="/">Home</a></li>
            <li><a class="navLinks" href="/about">About</a></li>
            <li><a class="navLinks" href="/posts">Posts</a></li>
            <li><a class="navLinks" href="posts/resources">Resources</a></li>
            <li><a class="navLinks" href="posts/tutorials">Tutorials</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="posts/resources">Resources</a></li>
        <li><a href="posts/tutorials">Tutorials</a></li>
      </ul>
    </header>

      <%= link_to "Posts", posts_path%>
      <%= link_to "SignIn", '/admins/sign_in'%>

      <%if current_admin%>
      <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
      <%end%>

      <div class="container">  <!-- newly added code -->
   <!-- end of new code -->
      <%= yield %>
      </div>                   <!-- newly added code -->




  </body>
</html>
