<!DOCTYPE html>
<html>
  <head>
    <title>ClassWebsiteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">



  </head>

  <body>



    <header>

      <nav id="siteNav">
        <div class="nav-wrapper">
          <p id="logo" class="brand-logo">HG3</p>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="navLinks" href="/">Home</a></li>
            <li><a class="navLinks" href="/about">About</a></li>
            <li><a class="navLinks" href="/posts">Posts</a></li>
            <li><a class="navLinks" href="/resources">Resources</a></li>
            <%if current_admin %>
              <li><a class="navLinks" href="/galleries">Galleries</a></li>
            <%end%>


          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/resources">Resources</a></li>
        <%if current_admin %>
          <li><a class="navLinks" href="/galleries">Galleries</a></li>
        <%end%>
      </ul>
    </header>


      <%= link_to "SignIn", '/admins/sign_in'%>

      <%if current_admin%>
        <div id="adminTab">
          <p>Hello <%= current_admin.email %> |
          <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
          </p>
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large yellow">
              <i class="large material-icons">account_circle</i>
            </a>
            <ul>
              <%= link_to destroy_admin_session_path, method: :delete, class: "btn-floating purple darken-1 pulse" do %>
              <i class=" medium material-icons">call_made</i>
              <% end %>  <p class="adminButton">Signout</p>
              <li><a href="/posts/new" class="btn-floating clue pulse"><i class=" medium material-icons">mode_edit</i></a><p class="adminButton">Make a post</p></li>
              <li><a href="/galleries/new" class="btn-floating clue pulse pink"><i class=" medium material-icons">add_a_photo</i></a><p class="adminButton">New Gallery</p></li>
            </ul>
          </div>
        </div>
      <%end%>


      <%= yield %>




  </body>
</html>
